/* SCSS EXAMPLES */
/* pink fe2e46 */
.message, .success {
  border: 1px solid #ccc;
  padding: 10px;
  color: #333; }

.success {
  border-color: green; }

/* ====== header ====== */
.name {
  font-weight: 500;
  letter-spacing: 2px; }

.navbar-custom {
  background-color: #000000;
  color: #ffffff; }

.navbar-custom .navbar-nav > li > a {
  color: #ffffff; }
  .navbar-custom .navbar-nav > li > a:hover {
    color: #2194F4; }

.navbar-custom .navbar-brand {
  color: #ffffff; }
  .navbar-custom .navbar-brand:hover {
    color: #2194F4; }

.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: #2194F4;
  border-color: #2194F4; }

.navbar-custom .navbar-toggle .icon-bar {
  background-color: #FFF; }

/* ====== link styles ====== */
a {
  text-decoration: none; }

.links {
  color: #ffffff;
  font-size: 1.1em;
  font-weight: 200;
  letter-spacing: 1px; }
  .links:hover {
    color: #2194F4; }

/* ====== section styles ====== */
section {
  margin: 100px 20px 0 20px; }

h3, h4, p, .section-line {
  margin-left: 2%;
  margin-right: 2%;
  font-family: "Mukta Vaani", sans-serif; }

.section-line {
  margin: 0 0 40px 0; }

.portfolio-line {
  margin: 50px 5% 50px 5%; }

h3 {
  font-size: 1.4em;
  font-weight: 500;
  margin-top: 15px;
  margin-bottom: 0;
  color: #2194F4; }

h4 {
  font-size: 1.5em;
  font-weight: 400; }

p {
  font-size: 1.4em;
  font-weight: 200; }

.greetings {
  font-size: 1.6em;
  font-weight: 400; }

.margin-wrapper {
  margin: 0 18% 0 18%; }

.invisible {
  display: hidden; }

/* ====== portfolio grid ====== */
img {
  width: 100%;
  height: 100%;
  opacity: 0.9;
  filter: alpha(opacity=40);
  margin-bottom: 20px; }

img:hover {
  opacity: 0.4;
  filter: alpha(opacity=100); }

.box-hover {
  background-image: no-repeat center; }
  .box-hover:hover {
    color: #2194F4;
    width: 100%;
    height: 100%; }

.img-text {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(29, 106, 154, 0.72);
  color: #ffffff;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility opacity 0.2s; }

/* .box-hover:hover .img-text {
  visibility: visible;
  opacity: 1;
}
*/

/* ====== contact ====== */
.contact-text {
  margin: 20px 18% 50px 18%; }

.form-container {
  margin: 20px; }

form {
  margin: 15px 18%;
  box-shadow: none !important;
  background: none; }
  form input {
    height: 30px;
    border: 0;
    font-size: 1.3em; }
    form input:focus {
      outline: none; }

#submit {
  margin-top: 20px;
  padding: 10px;
  background-color: #ffffff;
  border: 2px solid gainsboro;
  border-radius: 10px;
  height: 50px; }
  #submit:hover {
    background-color: #2194F4;
    color: #ffffff;
    border: none; }

/* ====== footer ====== */
footer {
  background: #ffffff;
  text-align: center;
  color: #000000;
  width: 100%;
  height: 50px;
  margin-top: 100px;
  z-index: 10;
  font: "Mukta Vaani", sans-serif;
  font-family: "Mukta Vaani", sans-serif;
  font-size: 1em;
  font-weight: 200; }
  footer a {
    color: #000000;
    margin: 25px; }

.copyright {
  font-size: 1em;
  color: #a1a1a1;
  margin-bottom: 30px; }

.icon {
  width: 40px;
  display: inline-block; }

/*# sourceMappingURL=main.css.map */
