body {
  font-family: "Inconsolata", monospace;
}

section {
}

h1 {
  font-size: 3em;
  font-weight: 700; }

h2 {
  font-size: 1.75em;
  font-weight: 400; }

h3 {
  font-size: 1.4em;
  font-weight: 700; }

p {
  font-size: 1.4em;
  font-weight: 400; }

img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: .2s ease-in;
  transition: .2s ease-in; }

img:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%); }

/* ====== header ====== */
.navbar-custom {
  background-color: #ffffff;
  color: #000000; }

.navbar-custom .navbar-nav > li > a {
  color: #000000; }
  .navbar-custom .navbar-nav > li > a:hover {
    color: #2194F4; }

.navbar-custom .navbar-brand {
  color: #000000; }
.navbar-custom .navbar-brand:hover {
  color: #2194F4; }

.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: #2194F4;
  border-color: #2194F4; }

.navbar-custom .navbar-toggle .icon-bar {
  background-color: #ffffff; }

.navbar-brand {
  padding-top: 6.5px;}
.logo {
  width: 36px;
  margin-top: 0; }

/* ====== link styles ====== */
a {
  text-decoration: none; }

.links {
  color: #ffffff;
  font-size: 1.1em;
  letter-spacing: 1px; }
  .links:hover {
    color: #2194F4; }

/* ====== app ====== */
.wrapper {
  margin: 15% 20%;
}

.line {
  margin-top: 100px;
}

/* ====== hero group ====== */
.hero-group {
  margin: 6em auto 0 auto;
  text-align: center; }

.photo {
  width: 200px; }

.about-icons {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}

.icon-about {
  width: 40px;
  height: 40px;
  margin: 0.8em 0;
  -webkit-filter: grayscale(100%) saturate(0%) brightness(70%) contrast(1000%);
  filter: grayscale(100%) saturate(0%) brightness(70%) contrast(1000%);
  -webkit-transition: .2s ease-in;
  transition: .2s ease-in;
}

.icon-about:hover {
  -webkit-filter: grayscale(0%) ;
  filter: grayscale(0%);
}

/* ====== about section ====== */
.about {
}

.tech-icons {
  margin: 100px 0;
}

.icon-tech {
  width: 80px;
}

/* ====== projects ====== */
.projects {
  width: 100%;
}

.project-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
}

img.project-item {
/*  width: 260px;
  height: 260px;*/
  width: 33%;
  height: 33%; }

.project-item {

}

/* ====== work ====== */

/* ====== contact ====== */

